<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BaseURL</key>
	<string>https://appear-nest.herokuapp.com/</string>
	<key>ProjectID</key>
	<string>example-pxbh-b5i</string>
	<key>BundleID</key>
	<string>no.purpl.Appear-Example</string>
	<key>APIKey</key>
	<string>fd773bbf-a2e0-4fb5-b5e2-f6c314ff769f</string>
</dict>
</plist>
