
  <plist version="1.0">
      <dict>
          <key>BaseURL</key>
          <string>https://appear-nest.herokuapp.com/</string>
          <key>ProjectID</key>
          <string>asdfasd-pwabgwrj</string>
          <key>BundleID</key>
          <string>no.purpl.Appear-Example</string>
          <key>APIKey</key>
          <string>f25593a2-1531-4a1f-b698-f5cb83297444</string>
      </dict>
  </plist>
  