<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BaseURL</key>
	<string>https://5aab37c8.ngrok.io</string>
	<key>ProjectID</key>
	<string>91024B90-C892-4E9E-A37B-63A3D2FBBF70</string>
	<key>BundleID</key>
	<string>no.purpl.Appear-Example</string>
	<key>APIKey</key>
	<string>bbwbDAVZ42KTiHXbHzp!5SavVTTl65z2</string>
</dict>
</plist>
